.login_left{
    background-image: url("./images/login_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.contact{
    height: 100vh;
    background-color: #1f1e1e;
}